.nav_item {
    margin: 1rem 0;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    width: 100%;
}

.nav_item a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    color: black;
}

.nav_item a:visited {
    color: black;
}

.nav_item:hover {
    background: #408da8;
}


@media (min-width: 500px) {
    .nav_item {
        height: 100%;
        width: auto;
        margin: 0 0.5rem;
        font-weight: bold;
    }

    .nav_item a {
        color: white;
    }

    .nav_item a:visited {
        color: white;
    }
}