.input-element {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px;
}

.input-element .input-label {
    font-family: inherit;
    display: block;
    font-weight: bold;
}

.input-element .input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.input-element:focus {
    outline: none;
    background-color: #ccc;
}

.input-element .invalid {

    border: 1px solid red;
}